
<!DOCTYPE html>
<!--[if lt IE 7]>     <html class="no-js ie ltie10 ltie9 ltie8 ltie7 ie6" lang="en"> <![endif]-->
<!--[if IE 7]>        <html class="no-js ie ltie10 ltie9 ltie8 gtie6 gtie5 ie7" lang="en"> <![endif]-->
<!--[if IE 8]>        <html class="no-js ie ltie10 ltie9 gtie7 gtie6 gtie5 ie8" lang="en"> <![endif]-->
<!--[if IE 9]>        <html class="no-js ie ltie10 gtie8 gtie7 gtie6 gtie5 ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" lang="en"><!--<![endif]-->
<head>
	<!--(bake /templates/structure/html-header.html)-->
</head>

<body class="home">
<div><a href="#skipnav" class="skip">Skip to main content</a></div>

	<div id="wrapper" class="wrapper">

		<!--(bake /templates/structure/header.html)-->

			<div class="main off-area">
			    <div class="row relative hero">
			    	<div class="carousel">
				    	<div class="slide" style="background-image: url(./assets/img/components/hero_home1.jpg);">
				    		<div class="wrapper-intro">
					    		<h1>BAUER EMPIRE MAGAZINE</h1>
					    		<p class="intro">Evel moluptat hicta verfercium est volor sus aut maximos nobitam, sitaestem num hicta verfercium est volor sus aut maximos nobitam, sitaestem num</p>
					    		<a href="#" class="bttn">Learn More</a>
					    	</div>
				    	</div>
				    	<div class="slide" style="background-image: url(./assets/img/components/hero_home2.jpg);">
				    		<div class="wrapper-intro">
					    		<h1>healthy food guide</h1>
					    		<p class="intro">Evel moluptat hicta verfercium est volor sus aut maximos nobitam, sitaestem num hicta verfercium est volor sus aut maximos nobitam, sitaestem num</p>
					    		<a href="#" class="bttn">Learn More</a>
					    	</div>
				    	</div>
				    	<div class="slide" style="background-image: url(./assets/img/components/hero_home3.jpg);">
				    		<div class="wrapper-intro">
					    		<h1>BAUER</h1>
					    		<p class="intro">Evel moluptat hicta verfercium est volor sus aut maximos nobitam, sitaestem num hicta verfercium est volor sus aut maximos nobitam, sitaestem num</p>
					    		<a href="#" class="bttn">Learn More</a>
					    	</div>
				    	</div>
				    	<div class="slide" style="background-image: url(./assets/img/components/hero_home4.jpg);">
				    		<div class="wrapper-intro">
					    		<h1>OUR SERVICES</h1>
					    		<p class="intro">Evel moluptat hicta verfercium est volor sus aut maximos nobitam, sitaestem num hicta verfercium est volor sus aut maximos nobitam, sitaestem num</p>
					    		<a href="#" class="bttn">Learn More</a>
					    	</div>
				    	</div>
				    </div>
			    </div>

			    <a id="skipnav" tabindex="-1"></a>
			    <div class="row center m-top">
			    	<div class="pane base10">
			    		<h2>our mission OR CaSE Studies</h2>
			    		<p>Should you choose to accept it... Ditinul latemquiasit  rum ex estrum earcit aspiciis eicitio ea eventiu nditibusam, quia ellestrum et vendunt ute voluptaque ne nonsequodi inihili quatecabora poriatem sum, optae es et officat emoluptam, conseque conem quatias aut pa sum.</p>
			    	</div>
			    </div>

			    <div class="row grid m-top">
			    	<div class="item item1 wow fadeIn">
			    		<a href="#" class="img"></a>
			    		<div class="wrap">
			    			<div class="inner">
					    		<h3>BAUER EMPIRE MAGAZINE</h3>
					    		<p class="item-t">Evel moluptat hicta verfercium est volor sus aut maximos nobitam, sitaestem num hicta verfercium est volor.</p>
					    	</div>
				    	</div>
			    	</div>
			    	<div class="item item2 wow fadeIn">
			    		<a href="#" class="img"></a>
			    		<div class="wrap">
			    			<div class="inner">
					    		<h3>BAUER EMPIRE MAGAZINE</h3>
					    		<p class="item-t">Evel moluptat hicta verfercium est volor sus aut maximos nobitam, sitaestem num hicta verfercium est volor.</p>
					    	</div>
				    	</div>
			    	</div>
			    	<div class="item item3 wow fadeIn">
			    		<a href="#" class="img"></a>
			    		<div class="wrap">
			    			<div class="inner">
					    		<h3>BAUER EMPIRE MAGAZINE</h3>
					    		<p class="item-t">Evel moluptat hicta verfercium est volor sus aut maximos nobitam, sitaestem num hicta verfercium est volor.</p>
					    	</div>
				    	</div>
			    	</div>
			    	<div class="item item4 wow fadeIn">
			    		<a href="#" class="img"></a>
			    		<div class="wrap">
			    			<div class="inner">
					    		<h3>BAUER EMPIRE MAGAZINE</h3>
					    		<p class="item-t">Evel moluptat hicta verfercium est volor sus aut maximos nobitam, sitaestem num hicta verfercium est volor.</p>
					    	</div>
				    	</div>
			    	</div>
			    	<div class="item item5 wow fadeIn">
			    		<a href="#" class="img"></a>
			    		<div class="wrap">
			    			<div class="inner">
					    		<h3>BAUER EMPIRE MAGAZINE</h3>
					    		<p class="item-t">Evel moluptat hicta verfercium est volor sus aut maximos nobitam, sitaestem num hicta verfercium est volor.</p>
					    	</div>
				    	</div>
			    	</div>
			    	<div class="item item6 wow fadeIn">
			    		<a href="#" class="img"></a>
			    		<div class="wrap">
			    			<div class="inner">
					    		<h3>BAUER EMPIRE MAGAZINE</h3>
					    		<p class="item-t">Evel moluptat hicta verfercium est volor sus aut maximos nobitam, sitaestem num hicta verfercium est volor.</p>
					    	</div>
				    	</div>
			    	</div>
			    </div>

			    <div class="row center pad-top">
			    	<div class="pane base12">
			    		<h2 class="wow fadeIn">Some of the things we do</h2>
			    	</div>
			    </div>

			    <div class="row center pad-top">
			    	<div class="pane base12">
			    		<div class="service-wrap wow fadeInLeftBig">
				    		<div class="service">
				    			<a href="#">
						    		<div class="panel" data-terms="User Experience,Information Architecture,Prototyping & User Testing,User Journey Planning,Heuristic Review,Card Sorting,Usability Testing,Functional Specification,Social Media Marketing,Search Engine Optimisation,Insight & Analytics,Need Finding">
											<div class="front">
												<p>&#xf038</p>
											</div>
											<div class="back">
												<p>Analytics</p>
											</div>									
										</div>
										<h5>INSIGHT &amp; RESEARCH</h5>
									</a>
								</div>

								<div class="service">
									<a href="#">
						    		<div class="panel" data-terms="Wire-framing,Creative Direction & Branding,Responsive and Mobile Design,Interface Design,Data Visualisation,Web & App Design">
											<div class="front">
												<p>&#xf04e</p>
											</div>
											<div class="back">
												<p>Prototyping</p>
											</div>									
										</div>
										<h5>Creativity &amp; Design</h5>
									</a>
								</div>
							</div>

							<div class="service-wrap wow fadeInRightBig">
								<div class="service">
									<a href="#">
						    		<div class="panel" data-terms="Front-end Development,Platform development & management,Content Management Systems,eCommerce,Training">
											<div class="front">
												<p>&#xf03e</p>
											</div>
											<div class="back">
												<p>Innovation</p>
											</div>									
										</div>
										<h5>Development &amp; Maintenance</h5>
									</a>
								</div>

								<div class="service">
									<a href="#">
						    		<div class="panel" data-terms="Data analysis,SEO,Consumer profiling,Data Cleansing">
											<div class="front">
												<p>&#xf053</p>
											</div>
											<div class="back">
												<p>Profiling</p>
											</div>									
										</div>
										<h5>Data Services</h5>
									</a>
								</div>
							</div>
			    	</div>
			    </div>

			    <div class="row center pad-top">
			    	<div class="pane base12">
			    		<a href="#" class="bttn wow fadeIn" data-wow-delay="0.5s">Learn MORE about our services</a>
			    	</div>
			    </div>

			    <div class="row pad-top m-top bg-greyBlue center">
			    	<div class="pane base12">
			    		<h4 class="left wow fadeIn">Some of our clients</h4>
			    	</div>
			    </div>
			    <div class="row bg-greyBlue center">
			    	<div class="pane base12">
			    		<a href="#" class="client time wow fadeInUp"></a>
			    		<a href="#" class="client waitrose wow fadeInUp" data-wow-delay="0.1s"></a>
			    		<a href="#" class="client boden wow fadeInUp" data-wow-delay="0.2s"></a>
			    		<a href="#" class="client argos wow fadeInUp" data-wow-delay="0.3s"></a>
			    		<a href="#" class="client bauer wow fadeInUp" data-wow-delay="0.4s"></a>
			    	</div>
			    </div>		    

			    <footer class="row pad-top bg-black center">
			    	<div class="pane base12">
			    		<h4 class="left">Get in touch</h4>
			    		<ul class="right social">
			    			<li><a href="http://twitter.com/rhapsodydigital" target="_blank" class="social-icon social_twitter"></a>
			    			<li><a href="https://www.linkedin.com/company/rhapsody-limited" target="_blank" class="social-icon social_linkedin"></a>
			    			<li><a href="https://uk.pinterest.com" target="_blank" class="social-icon social_pinterest"></a>
			    		</ul>
			    	</div>
			    	<div class="pane base12 no-margin">
			    		<ul class="left contact">
			    			<li><p class="call">Call us <a href="tel:+442077291000">+44 (0)20 7729 1000</a></p></li>
			    			<li><p class="tweet">Tweet us <a href="http://twitter.com/rhapsodydigital" target="_blank">@rhapsodydigital</a></p></li>
			    			<li><p class="email">Email us <a href="mailto:hello@rhapsodydigital.co.uk">hello@rhapsodydigital.co.uk</a></p></li>
			    			<li><p class="find">Find us Rhapsody Digital, 109-123 Clifton Street, London, EC2A 4LD</p></li>
			    		</ul>
			    	</div>
			    	<div class="pane base12 no-margin">
			    			<img src="./assets/img/icons/rd_logo1.png" class="footer-logo" alt="Rhapsody logo">
			    			<p class="copyright">Copyright © 2015 Rhapsody Limited. All rights reserved. |  Registered Company No: 01280705  |  <a href="#">Privacy &amp; Cookie Policy</a></p>
			    	</div>
		    	</footer>
			</div><!-- .main -->			
	</div><!-- .wrapper -->

	<!--(bake /templates/structure/footer.html)-->

  </body>
</html>