
<!DOCTYPE html>
<!--[if lt IE 7]>     <html class="no-js ie ltie10 ltie9 ltie8 ltie7 ie6" lang="en"> <![endif]-->
<!--[if IE 7]>        <html class="no-js ie ltie10 ltie9 ltie8 gtie6 gtie5 ie7" lang="en"> <![endif]-->
<!--[if IE 8]>        <html class="no-js ie ltie10 ltie9 gtie7 gtie6 gtie5 ie8" lang="en"> <![endif]-->
<!--[if IE 9]>        <html class="no-js ie ltie10 gtie8 gtie7 gtie6 gtie5 ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" lang="en"><!--<![endif]-->
<head>
	<!--(bake /templates/structure/html-header.html)-->
</head>

<body>
<div><a href="#skipnav" class="skip">Skip to main content</a></div>

	<div id="wrapper" class="wrapper">

			<div class="main off-area">
			    <div class="pane base6 ml12 project-templates">
						<div class="frame cf">			

						<h3>Templates</h3>

						<ul class="status">
							<li><span class="statusGreen"></span><a href="template1.html">Template 1 - Homepage</a></li>
							<li><span class="statusGreen"></span><a href="template2.html">Template 2 - Case studies home page</a></li>
							<li><span class="statusGreen"></span><a href="template3.html">Template 3 - Individual case study</a></li>
							<li><span class="statusGreen"></span><a href="template4.html">Template 4 - Services home page</a></li>
							<li><span class="statusGreen"></span><a href="template5.html">Template 5 - Services case study (expanded)</a></li>
							<li><span class="statusGreen"></span><a href="template6.html">Template 6 - Our software (ePublish/ emagine)</a></li>
							<li><span class="statusGreen"></span><a href="template7.html">Template 7 - About us</a></li>
							<li><span class="statusGreen"></span><a href="template8.html">Template 8 - Blog article</a></li>
							<li><span class="statusGreen"></span><a href="template9.html">Template 9 - Contact us</a></li>
							<li><span class="statusGreen"></span><a href="template10.html">Template 10 - Blog home and social feed</a></li>
							<li><span class="statusGreen"></span><a href="template11.html">Template 11 - Cookies</a></li>
						</ul>
						</div><!-- .frame -->
					</div>			    
			</div><!-- .main -->			
	</div><!-- .wrapper -->

	<!--(bake /templates/structure/footer.html)-->

  </body>
</html>