<!DOCTYPE html>
<!--[if lt IE 7]>     <html class="no-js ie ltie10 ltie9 ltie8 ltie7 ie6" lang="en"> <![endif]-->
<!--[if IE 7]>        <html class="no-js ie ltie10 ltie9 ltie8 gtie6 gtie5 ie7" lang="en"> <![endif]-->
<!--[if IE 8]>        <html class="no-js ie ltie10 ltie9 gtie7 gtie6 gtie5 ie8" lang="en"> <![endif]-->
<!--[if IE 9]>        <html class="no-js ie ltie10 gtie8 gtie7 gtie6 gtie5 ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" lang="en"><!--<![endif]-->
<head>
	<!--(bake /templates/structure/html-header.html)-->
</head>

<body>
<div><a href="#skipnav" class="skip">Skip to main content</a></div>

	<div id="wrapper" class="wrapper">

		<!--(bake /templates/structure/header.html)-->

			<div class="row relative hero no-padding">	    	
		    <h1>Privacy &amp; Cookie Policy</h1>
	    </div>

			<div class="main off-area">
		   <a id="skipnav" tabindex="-1"></a>			    
			    <div class="row m-top constrain">
			    	<aside class="pane base4 ml0">
			    	</aside>

			    	<div class="pane base7 tp8 ml12">
    					<h3>What Are Cookies</h3>
    					
							<p>As is common practice with almost all professional websites this site uses cookies, which are tiny files that are downloaded to your computer, to improve your experience. This page describes what information they gather, how we use it and why we sometimes need to store these cookies. We will also share how you can prevent these cookies from being stored however this may downgrade or ‘break’ certain elements of the sites functionality. For more general information on cookies see <a href="https://en.wikipedia.org/wiki/HTTP_cookie">https://en.wikipedia.org/wiki/HTTP_cookie</a></p>

							<p>We use cookies for a variety of reasons detailed below. Unfortunately is most cases there are no industry standard options for disabling cookies without completely disabling the functionality and features they add to this site. It is recommended that you leave on all cookies if you are not sure whether you need them or not in case they are used to provide a service that you use.</p>

							<h3>Disabling Cookies</h3>

							<p>You can prevent the setting of cookies by adjusting the settings on your browser (see your browser Help for how to do this). Be aware that disabling cookies will affect the functionality of this and many other websites that you visit. Disabling cookies will usually result in also disabling certain functionality and features of the this site. Therefore it is recommended that you do not disable cookies.</p>

							<h3>The Cookies We Set</h3>

							<p>This site uses Google Analytics which is one of the most widespread and trusted analytics solution on the web for helping us to understand how you use the site and ways that we can improve your experience. These cookies may track things such as how long you spend on the site and the pages that you visit so we can continue to produce engaging content. For more information on Google Analytics cookies, see the official Google Analytics page. <a href="http://www.google.com/analytics/">www.google.com/analytics/</a></p>
							<p>From time to time we test new features and make subtle changes to the way that the site is delivered. When we are still testing new features these cookies may be used to ensure that you receive a consistent experience whilst on the site whilst ensuring we understand which optimisations our users appreciate the most.</p>

							<h3>More Information</h3>

							<p>Hopefully that has clarified things for you and as was previously mentioned if there is something that you aren’t sure whether you need or not it’s usually safer to leave cookies enabled in case it does interact with one of the features you use on our site. However if you are still looking for more information then please <a href="http://134.213.156.151/rhapsodydigitalwebsite/contact-us/">contact us.</a></p>
			    	</div>
			    </div>

			    <div class="row m-top bg-greyBlue center">
			    	<div class="pane base12">
			    		<h4 class="left wow fadeIn">Some of our clients</h4>
			    	</div>
			    </div>
			    <div class="row bg-greyBlue center no-padding">
			    	<div class="pane base12">
			    		<a href="#" class="client time wow fadeInUp"></a>
			    		<a href="#" class="client waitrose wow fadeInUp" data-wow-delay="0.1s"></a>
			    		<a href="#" class="client boden wow fadeInUp" data-wow-delay="0.2s"></a>
			    		<a href="#" class="client argos wow fadeInUp" data-wow-delay="0.3s"></a>
			    		<a href="#" class="client bauer wow fadeInUp" data-wow-delay="0.4s"></a>
			    	</div>
			    </div>			    

			    <footer class="row pad-top bg-black center">
			    	<div class="pane base12">
			    		<h4 class="left">Get in touch</h4>
			    		<ul class="right social">
			    			<li><a href="http://twitter.com/rhapsodydigital" target="_blank" class="social-icon social_twitter"></a></li>
			    			<li><a href="https://www.linkedin.com/company/rhapsody-limited" target="_blank" class="social-icon social_linkedin"></a></li>
			    			<li><a href="https://uk.pinterest.com" target="_blank" class="social-icon social_pinterest"></a></li>
			    		</ul>
			    	</div>
			    	<div class="pane base12 no-margin">
			    		<ul class="left contact">
			    			<li><p class="call">Call us <a href="tel:+442077291000">+44 (0)20 7729 1000</a></p></li>
			    			<li><p class="tweet">Tweet us <a href="http://twitter.com/rhapsodydigital" target="_blank">@rhapsodydigital</a></p></li>
			    			<li><p class="email">Email us <a href="mailto:hello@rhapsodydigital.co.uk">hello@rhapsodydigital.co.uk</a></p></li>
			    			<li><p class="find">Find us Rhapsody Digital, 109-123 Clifton Street, London, EC2A 4LD</p></li>
			    		</ul>
			    	</div>
			    	<div class="pane base12 no-margin">
			    			<img src="./assets/img/icons/rd_logo1.png" class="footer-logo" alt="Rhapsody logo">
			    			<p class="copyright">Copyright © 2015 Rhapsody Limited. All rights reserved. |  Registered Company No: 01280705  |  <a href="#">Privacy &amp; Cookie Policy</a></p>
			    	</div>
		    	</footer>
			</div><!-- .main -->			
	</div><!-- .wrapper -->

	<!--(bake /templates/structure/footer.html)-->

  </body>
</html>