/*
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
≡≡≡≡≡≡                                                                                                      ≡≡≡≡≡≡≡≡≡≡≡≡
≡≡≡≡≡≡   TYPOGRAPHY                                                                                        ≡≡≡≡≡≡≡≡≡≡≡≡
≡≡≡≡≡≡                                                                                                    ≡≡≡≡≡≡≡≡≡≡≡≡
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
*/

/*
≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈
≡≡≡≡≡≡   FONT FACE                                                              ≡≡≡≡≡≡≡≡≡≡≡≡
≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈
*/

@font-face {
  font-family: 'suprablack';
  src: url('../fonts/Supra-Black-webfont.eot');
  src: url('../fonts/Supra-Black-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Supra-Black-webfont.woff2') format('woff2'),
       url('../fonts/Supra-Black-webfont.woff') format('woff'),
       url('../fonts/Supra-Black-webfont.ttf') format('truetype'),
       url('../fonts/Supra-Black-webfont.svg#suprablack') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'supralight';
  src: url('../fonts/Supra-Light-webfont.eot');
  src: url('../fonts/Supra-Light-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Supra-Light-webfont.woff2') format('woff2'),
       url('../fonts/Supra-Light-webfont.woff') format('woff'),
       url('../fonts/Supra-Light-webfont.ttf') format('truetype'),
       url('../fonts/Supra-Light-webfont.svg#supralight') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'supramedium';
  src: url('../fonts/Supra-Medium-webfont.eot');
  src: url('../fonts/Supra-Medium-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Supra-Medium-webfont.woff2') format('woff2'),
       url('../fonts/Supra-Medium-webfont.woff') format('woff'),
       url('../fonts/Supra-Medium-webfont.ttf') format('truetype'),
       url('../fonts/Supra-Medium-webfont.svg#supramedium') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'suprademibold';
    src: url('../fonts/Supra-Demibold-webfont.eot');
    src: url('../fonts/Supra-Demibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Supra-Demibold-webfont.woff2') format('woff2'),
         url('../fonts/Supra-Demibold-webfont.woff') format('woff'),
         url('../fonts/Supra-Demibold-webfont.ttf') format('truetype'),
         url('../fonts/Supra-Demibold-webfont.svg#suprademibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'suprabold';
    src: url('../fonts/Supra-Bold-webfont.eot');
    src: url('../fonts/Supra-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Supra-Bold-webfont.woff2') format('woff2'),
         url('../fonts/Supra-Bold-webfont.woff') format('woff'),
         url('../fonts/Supra-Bold-webfont.ttf') format('truetype'),
         url('../fonts/Supra-Bold-webfont.svg#suprabold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'supranormal';
    src: url('../fonts/Supra-Normal-webfont.eot');
    src: url('../fonts/Supra-Normal-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Supra-Normal-webfont.woff2') format('woff2'),
         url('../fonts/Supra-Normal-webfont.woff') format('woff'),
         url('../fonts/Supra-Normal-webfont.ttf') format('truetype'),
         url('../fonts/Supra-Normal-webfont.svg#supranormal') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'BlackTieRegular';
  src: url('../fonts/BlackTie-Regular-webfont.eot?v=1.0.0');
  src: url('../fonts/BlackTie-Regular-webfont.eot?#iefix&v=1.0.0') format('embedded-opentype'), url('../fonts/BlackTie-Regular-webfont.woff2?v=1.0.0') format('woff2'), url('../fonts/BlackTie-Regular-webfont.woff?v=1.0.0') format('woff'), url('../fonts/BlackTie-Regular-webfont.ttf?v=1.0.0') format('truetype'), url('../fonts/BlackTie-Regular-webfont.svg?v=1.0.0#black_tieregular') format('svg');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'BlackTieBold';
  src: url('../fonts/BlackTie-Bold-webfont.eot?v=1.0.0');
  src: url('../fonts/BlackTie-Bold-webfont.eot?#iefix&v=1.0.0') format('embedded-opentype'), url('../fonts/BlackTie-Bold-webfont.woff2?v=1.0.0') format('woff2'), url('../fonts/BlackTie-Bold-webfont.woff?v=1.0.0') format('woff'), url('../fonts/BlackTie-Bold-webfont.ttf?v=1.0.0') format('truetype'), url('../fonts/BlackTie-Bold-webfont.svg?v=1.0.0#black_tiebold') format('svg');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'BlackTieLight';
  src: url('../fonts/BlackTie-Light-webfont.eot?v=1.0.0');
  src: url('../fonts/BlackTie-Light-webfont.eot?#iefix&v=1.0.0') format('embedded-opentype'), url('../fonts/BlackTie-Light-webfont.woff2?v=1.0.0') format('woff2'), url('../fonts/BlackTie-Light-webfont.woff?v=1.0.0') format('woff'), url('../fonts/BlackTie-Light-webfont.ttf?v=1.0.0') format('truetype'), url('../fonts/BlackTie-Light-webfont.svg?v=1.0.0#black_tielight') format('svg');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'BlackTieSolid';
  src: url('../fonts/BlackTie-Solid-webfont.eot?v=1.0.0');
  src: url('../fonts/BlackTie-Solid-webfont.eot?#iefix&v=1.0.0') format('embedded-opentype'), url('../fonts/BlackTie-Solid-webfont.woff2?v=1.0.0') format('woff2'), url('../fonts/BlackTie-Solid-webfont.woff?v=1.0.0') format('woff'), url('../fonts/BlackTie-Solid-webfont.ttf?v=1.0.0') format('truetype'), url('../fonts/BlackTie-Solid-webfont.svg?v=1.0.0#black_tiesolid') format('svg');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.4.0');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.4.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.4.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.4.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.4.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.4.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}